body {
    background-color: black;
}

a {
    text-decoration: none;
    color: #4AF626;
}

a:visited {
    color: #4AF626;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    color: #4AF626;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: #4AF626;
    border-style: none none dashed none;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-family: Courier, monospace;
    font-size: 1.5rem;
}

.nav-list {
    text-align: right;
    align-items: center;
    margin-right: 1rem;
}

.sub-nav {
    margin-left: 1rem;
    margin-right: 1rem;
}

.intro-container {
    margin-top: 5rem;
}

#intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.project-container {
    margin-top: 2rem;
    color: #4AF626;
    font-family: Courier, monospace;
    text-align: center;
    font-size: 1.5rem;
}

.project-name {
    font-size: 4rem;
    font-weight: bold;
}

.project-intro {
    width: 40%;
    margin: 1rem auto 2rem auto;
    margin-left: auto;
    margin-right: auto;
}

.photo-area {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

figcaption {
    font-size: 1rem;
}

.photo {
    width: 70%;
    margin-left: auto;
    margin-left: auto;
}

.project-photo {
    filter: none;
}

.photo-intro {
    grid-column: 1/ 2;
    width: 80%;
    border: dashed #4AF626;
    padding: 1rem;
}

#swift {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    background-color: black;
    color: #4AF626;
    font-family: Courier, monospace;
    font-size: 1.5vw;
    cursor: pointer;
    border: dashed #4AF626;
    padding: 1rem;
    margin-top: 1vh;
}

footer {
    color: #4AF626;
    font-family: Courier, monospace;
    text-align: center;
    margin-top: 5rem;
}

.contact-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #4AF626;
    border-style: none none dashed none;
}

#welcome {
    text-align: left;
    font-size: 2rem;
}

img {
    filter: invert(63%) sepia(87%) saturate(839%) hue-rotate(60deg) brightness(115%) contrast(93%);
}

.contact-method {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

#contact {
    text-align: center;
}